<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login.</h1>
        <br>
        <form action="/login" method="post" >
            Username:<br>
            <input type="text" name="username" id="username" placeholder="Username" style="width:100%;">
            <br>
            <br>
            Password:<br>
            <input type="password" name="password" id="password" placeholder="Password" style="width:100%;">
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
        <br>

    </body>
</html>